# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.dll
*.xml
*.pdb
*.cache
*.mdb
*.lock
*.ide
*.ide-shm
*.ide-wal
*.CopyComplete

*.psd
.markdown
Debug/
Release/
.vs/
obj/
bin/
OhScrap/obj/

# archives
*.zip
*.rar
*.7z

.vs/
obj\
bin/

UPFM/Untitled Part Failure Mod/obj/Debug/Untitled Part Failure Mod.csproj.FileListAbsolute.txt
UPFM/Untitled Part Failure Mod/obj/Release/Untitled Part Failure Mod.csproj.FileListAbsolute.txt
UPFM/Untitled Part Failure Mod/obj/Release/build.force
GameData/KerbalChangelog/KerbalChangelog.version
GameData/KerbalChangelog/KerbalChangelogChangelogv1-1-2.cfg
GameData/KerbalChangelog/LICENSE
OhScrap/obj/Debug/OhScrap.csproj.FileListAbsolute.txt
OhScrap/obj/Release/OhScrap.csproj.FileListAbsolute.txt
*.log
OhScrap/obj/Release/OhScrap.csproj.FileListAbsolute.txt
images.txt
OhScrap/obj/Debug/OhScrap.csproj.FileListAbsolute.txt
OhScrap/obj/Release/OhScrap.csproj.FileListAbsolute.txt
shields.md
